/target
/core/*/target
/core/tests/*/target
/application/*/target
/application/*/*/target
/releng/platform-definitions/platform-definition-photon/platform-definition-photon.target
/application/org.openjdk.jmc.rcp.product/jmc.product
